<table>
  <thead class="table__header">
    <tr>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>
  </thead>

  <tbody class="lala">
    <tr *ngFor="let week of calendar">
      <td *ngFor="let day of week.days" [class.active-selected]="day.active && day.selected"
        [class.disabled]="day.disabled" [class.selected]="day.selected" [class.active]="day.active"
        (click)="select(day.value)">
        <span [class.withTask]="day.value | moment: 'DD-MM-YYYY' | hasTask: daysWithTask | async">
          {{day.value | moment: 'DD'}}
        </span>
      </td>
    </tr>
  </tbody>

</table>
